# http://eslint.org/docs/rules/
{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "complexity": ["warn", 10],
    "no-console": "off",
    "new-cap": "off",
    "strict": "off",
    "no-use-before-define": "off",
    "eol-last": "off",
    "quotes": ["error", "single"]
  }
}
